.logo_contact{
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    box-shadow: black 1px 1px 7px 1px;
    
}
.logo_img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
}
.se_connecter{
    color: blue;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputs{
    margin: 20px;
}

.bouton{
    margin: 10px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 7px;
}
.header_input{
    float: right;
    
}
.header_seconnecter{
    color: white;
    background-color: blue;
    border-radius: 10px;
    height: 30px;
}
.header_sinscrire{
    color: white;
    height: 30px;
    background-color: green;
    border-radius: 10px;
}
.inputs input{
    width: 200px;
    border-radius: 7px;
    height: 30px;
    margin: 10px;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header_input{
    margin: 10px;
}
footer{
    margin-top: auto ;
    height: 30px;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reseaux{
    display: flex;
    flex-direction: row;
}
.reseaux img{
    margin-left: 10px;
}
.header_input a :hover{
    transform: translateY(-5px);
    transition: .5s;
}
.enregistrer a :hover{
    transform: translateY(-5px);
    transition: .5s;
}
@media only screen and (max-width:873px){
    .header_seconnecter{
        position: absolute;
        z-index: 2;
    }
    .header_sinscrire{
        position: absolute;
        z-index: 2;
    }
}